#dashboard {
  .fs-24 {
    font-size: 24px;
  }
  .fs-12 {
    font-size: 12px;
  }
  .fs-20{
    font-size: 20px;
  }
  .fs-30{
    font-size: 30px;
  } 
  .percent{
    background-color: #D2F2F5;
    width: 50px;
    color: #20BECB;
  }
  .detail{
    color:#2F45AD;
  }
  .cover {
    background-color: var(--header_background) !important;
    color: var(--header_search_text);
    border-radius: 8px;
    padding: 10px;
    
  }
  .card {
    background-color: var(--header_background) !important;
    color: var(--header_search_text);
    border: 3px solid var(--m-4, #a4aab0);
  }
  .verification{
     border-top: 1px solid #a4aab0;
     font-size: 20px;
     .detail{
      border-radius: 8px;
      border: 2px solid #a4aab0;
      padding: 10px;
      width: fit-content;
     }
  }
  .active-tab{
    border: 4px solid #2F45AD;
  }
}
