.notify-cover{
    background-color: var(--header_background) !important;
    color: var(--header_search_text);
    border-radius: 9px;
    position: absolute;
    z-index: 999;
    border: 1px solid var(--Gray-300, #d0d5dd);
    overflow-y: auto;
}
.chat-item.active{
    border-radius: 8px;
    background: var(--header_background_search_box);
    //background: var(--blue-va-5, rgba(47, 69, 173, 0.20));
}
.profile {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.content {
    margin-left: 18px !important;
}
.date {
    margin-top: 12px;
}