.radius-size {
  width: 20px;
  height: 20px;
}
.active-item {
  background-color: #2f45ad;
  color: white;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .signup-mw-40 {
    max-width: 40vw;
  }
}
@media screen and (max-width: 576px) {
  .fs-xs-20 {
    font-size: 20px;
  }
  .pt-xs-10 {
    padding-top: 10px;
  }
}
.small-txt {
  font-size: 14px;
}
