#postDetail,
#BlogDetail {
  background-color: var(--header_background);
  border-radius: 8px;
  color: var(--header_search_text);

  .h-40 {
    height: 40px;
  }

  .input-cmt {
    background-color: var(--header_background_search_box);
    color: var(--header_search_text);
    height: 40px;
    border-radius: 8px;
    margin: 0px 5px;
  }

  .border-custom {
    border-bottom: 1px solid var(--header_search_text);
  }
  .profile {
    margin-left: 0px;
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden; /* hide any part of the image that exceeds the div */
    img:first-child {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }

  }
  .image-container {
    max-height: 60vh;
    /* Hoặc bất kỳ chiều cao nào bạn muốn */
    background-color: #f0f0f0;
    /* Màu của background cho phần bị thừa */
    overflow: hidden;
    /* Ẩn phần của ảnh không vừa với container */
    border-radius: 8px;
  }
  .bg-custom {
    background-color: var(--header_background);
  }
  .image-container img {
    width: 100%;
    object-fit: contain;
    /* Giữ tỷ lệ của ảnh nhưng vẫn che đầy container */
    object-position: center;
    /* Căn giữa ảnh */
    border-radius: 8px;
  }
  .dropdown-toggle::after {
    display: none;
    border-color: none;
  }
  .btn-check:checked + .btn,
  .btn.active,
  .btn.show,
  .btn:first-child:active,
  :not(.btn-check) + .btn:active {
    border-color: transparent;
  }
  .reply-cmt {
    margin: 8px 13px;
  }

  .cmt {
    color: #2f45ad;
  }

  .red {
    color: red;
  }

  .cmt-input {
    border-radius: 8px;
    padding: 8px 12px;
    width: 100%;
    border: 1px solid #d0d5dd;

    input {
      border: none;
      width: 100%;

      &:focus {
        outline: none;
      }
    }
  }

  .cmt-item {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #d0d5dd;
  }

  .rep {
    display: flex;
    justify-content: space-between;
    color: #20becb;
  }
}

.post-content.image-container {
  max-height: 60vh;
  /* Hoặc bất kỳ chiều cao nào bạn muốn */
  background-color: #f0f0f0;
  /* Màu của background cho phần bị thừa */
  overflow: hidden;
  /* Ẩn phần của ảnh không vừa với container */
}

.post-content.image-container img {
  width: 100%;
  object-fit: contain;
  /* Giữ tỷ lệ của ảnh nhưng vẫn che đầy container */
  object-position: center;
  /* Căn giữa ảnh */
  border-radius: 8px;
}
