#postDetail,#BlogDetail {
  background-color: #fff;
  border-radius: 8px;
  .h-40 {
    height: 40px    ;
  }
  .profile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .reply-cmt{
    margin: 8px 13px;
  }
  .cmt {
    color: #2f45ad;
  }
  .red{
    color: red;
  }
  .cmt-input {
    border-radius: 8px;
    padding: 8px 12px;
    width: 100%;
    border: 1px solid #d0d5dd;
    input {
      border: none;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }
  .cmt-item{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #d0d5dd;
  }
  .rep{
    display: flex;
    justify-content: space-between;
    color: #20BECB;
  }
}
