.ReportBtn {
    width: 25px;
    height: 25px;
}
#update-infomation{
    max-width: 750px;
}


// Assuming .option-content is initially hidden (e.g., height: 0;)
// and .open class makes it visible (e.g., height: auto;)
.option-content {
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    max-height: 0; // Start with 0 to ensure it's hidden initially
    opacity: 0; // Start with 0 to ensure it's fully transparent initially
  }
  
  // When the option-content is opened
  .option-content.open {
    max-height: 500px; // Set a max-height that's higher than any content's height
    opacity: 1; // Ensure it's fully opaque
  }
.report-popup {
    .option {
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 8px;

        label {
            margin-left: 10px;
        }
    }
}