#sidebar {
  background-color: #fff;
  border-radius: 9px;
  padding: 13px;
  height: 800px;
  .sideBar-icon {
    padding-right: 13px;
  }
  .upper-section div {
    padding: 8px 14px;
    border-radius: 8px;
  }
  .active-sidebar-item {
    background-color: #2f45ad;
    color: #ffffff;
  }
  .logout {
    color: #79d8e0;
    font-weight: bold;
    padding: 8px 14px;
  }
  .fs-10 {
    font-size: 10px;
  }
}
