.sideBar-icon{
    padding-right: 13px;
}
.upper-section div{
    padding: 8px 14px;
    border-radius: 8px;
}
.active-sidebar-item{
 background-color: #2F45AD;   
 color: #ffffff;
 
}
.sidebar{
    background-color: #fff;
    border-radius: 9px;
    padding: 13px;
}
.lower-section{
    margin-top: 270px;
}