#projectApplication {
    .border-8 {
        border-radius: 8px;
    }
    
    .global-search input {
        border-radius: 8px;
        border: 0.5px solid gray;
    }
    
    .min-w-full {
        min-width: 100%;
    }
    
    .over-x-auto {
        overflow-x: auto;
    }
    
    table {
    
        td,
        th {
            text-wrap: nowrap;
            border-right: 0.5px solid rgb(97, 97, 97, 0.5);
        }
    }
}
