#blog {
  .blog-report {
    border-radius: 8px;
    padding: 16px;
    textarea {
      height: 150px;

      &:focus {
        outline: none;
        background-color: gainsboro;
        border-radius: 8px;
      }
    }
  }
  width: 100%;
  .blog-form {
    background-color: var(--body_mid_background);
    border-radius: 8px;
    padding: 12px;
  }
  .blog-item {
    //background-color: #fff;
    background-color: var(--body_mid_background);
    color: var(--header_search_text);
    border-radius: 8px;
    &:not(:first-child) {
      margin-top: 8px;
    }
    .profile {
      font-size: 36px;
    }
    .view-btn {
      background-color: #20becb;
      border-radius: 8px;
      padding: 8px 14px;
      color: #fff;
    }
  }
  .red{
    color: red;
  }
  .input-text {
    background-color: var(--header_background_search_box);
    color: var(--header_search_text);
    //border: 1px solid #d0d5dd;
    width: 100%;
    max-height: 150px;
    resize: both;
    overflow: auto;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    padding: 16px;
    margin: 5px 0px;
    &:focus {
      outline: none;
    }
  }
  .form-control {
    background-color: var(--header_background_search_box);
    color: var(--header_search_text);
  }
  .image {
    background-color: #20becb;
    color: #fff;
  }
}
