#own_post {
    .post-report {
      border-radius: 8px;
      padding: 16px;
      textarea {
        height: 150px;
  
        &:focus {
          outline: none;
          background-color: gainsboro;
          border-radius: 8px;
        }
      }
    }
    .image-container {
      max-height: 60vh;
      /* Hoặc bất kỳ chiều cao nào bạn muốn */
      background-color: #f0f0f0;
      /* Màu của background cho phần bị thừa */
      overflow: hidden;
      /* Ẩn phần của ảnh không vừa với container */
    }
    
    .image-container img {
      width: 100%;
      object-fit: contain;
      /* Giữ tỷ lệ của ảnh nhưng vẫn che đầy container */
      object-position: center;
      /* Căn giữa ảnh */
      border-radius: 8px;
    }
    width: 100%;
    .blog-search{
      .search_icon {
        color: var(--header_search_box);
      }
    }
    .blog-form {
      background-color: var(--header_background);
      color: var(--header_search_text);
      border-radius: 8px;
      .input-text {
        border: 1px solid #d0d5dd;
        width: 100%;
        max-height: 150px;
        resize: both;
        overflow: auto;
        font-size: 16px;
        font-weight: 500;
        border-radius: 8px;
        padding: 16px;
        margin: 5px 0px;
        &:focus {
          outline: none;
        }
      }
    }
    .post-item:not(:first-child){
      margin-top: 8px;
    }
    .post-item {
      background-color: var(--header_background);
      color: var(--header_search_text);
      border-radius: 8px;
      .view-btn {
        background-color: var(--color_blue);
        border-radius: 8px;
        padding: 8px 14px;
        color: #fff;
      }
    }
    .input-text {
      border: 1px solid #d0d5dd;
      width: 100%;
      font-size: 16px;
      font-weight: 500;
      color: #2f45ad;
      border-radius: 8px;
      &:focus {
        outline: none;
      }
    }
    .image {
      background-color: #20becb;
      color: #fff;
    }
    .red{
      color: red;
    }
  }
  