// #sta-page div {
//     gap: 10px;
//     min-height: 20px;
//     min-width: 20px;
// }

.auto-scale {
    height: 50%;
}


#sta-page {
    border-radius: 8px;

    .card-section {
        border-radius: 8px;
        background-color: white;

    }

    #content-for-post {
        .avata {
            max-width: 50px;
            max-height: 50px;
            height: 100%;
            width: auto;
            border-radius: 50%;
            background-size: cover;
            padding: 0px;
        }
        .avata-contain{
            height: 100%;
        }
    }

    .card {
        border-radius: 8px;
        background-color: white;
        padding: 12px;
        border: 2px solid var(--m-4, #a4aab0);
    }

    .content {
        border-bottom: solid 2px rgb(112, 112, 112, 0.4);
    }

    .action {
        padding-top: 10px;
        padding-right: 13px;

        button {
            background-color: white;
        }
    }

}