#own_project {
  .avata-s {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .left-30 {
    margin-left: 10px;
  }
  .form {
    border-radius: 8px;
  }
  .project-search {
    background-color: var(--header_background_search_box);
    border-radius: 40px;
    padding: 0px 12px;

    .search-box {
      background-color: var(--header_background_search_box);
      color: var(--header_search_text);
      border: none !important;
      outline: none;
      padding: 8px;
      border-radius: 8px;
      font-size: 18px;
    }
  }
  .blog-form {
    background-color: #fff;
    border-radius: 8px;
    padding: 12px;
  }

  .width-100 {
    width: 100% !important;
  }

  .width-45 {
    width: 45px;
  }

  .height-100 {
    height: 100%;
  }

  .width-200 {
    max-width: 200px;
  }

  .bor-8 {
    border-radius: 8px;
  }

  .image-container {
    max-height: 60vh;
    /* Hoặc bất kỳ chiều cao nào bạn muốn */
    background-color: #f0f0f0;
    /* Màu của background cho phần bị thừa */
    overflow: hidden;
    /* Ẩn phần của ảnh không vừa với container */
  }

  .image-container img {
    width: 100%;
    object-fit: contain;
    /* Giữ tỷ lệ của ảnh nhưng vẫn che đầy container */
    object-position: center;
    /* Căn giữa ảnh */
  }
}
.input-text {
  border: 1px solid #d0d5dd;
  max-height: 750px;
  resize: both;
  overflow: auto;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  padding: 16px;
  margin: 5px 0px;

  &:focus {
    outline: none;
  }
}
#cus-project.modal-dialog {
  max-width: 60vw;
  .ql-container {
    height: 300px;
  }
}
