.bg-custom {
  border-radius: 9px;
  background-color: var(--header_background) !important;
  color: var(--header_search_text);
}
#chat {
  height: 100%;
  overflow-y: auto;
  input:focus {
    outline: none;
  }
  .chat-search {
    background-color: var(--header_background_search_box);
    border-radius: 8px;
    //border: 1px solid #d0d5dd;
    padding: 8px 12px;
  }
  .icon-search {
    color: var(--header_search_box);
  }
  .bg-search {
    background-color: var(--header_background_search_box);
    color: var(--header_search_text);
  }
  .chat-list {
    margin-top: 16px;
  }
  .chat-item:first-child {
    margin-bottom: 32px;
  }
  .chat-item:not(:first-child) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }
  .name {
    //color: var(--Gray-700, #344054);
    color: var(--Gray-700, var(--header_search_text));
    font-size: 18px;
    font-weight: 700;
  }
  .text {
    //color: var(--Gray-700, #344054);
    color: var(--Gray-700, var(--header_search_text));
    font-size: 16px;
    font-weight: 400;
  }
}
#chat-box {
  border-radius: 9px;
  background-color: var(--header_background) !important;
  input:focus {
    outline: none;
  }
  height: 100%;
  .avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }
  .name {
    //color: var(--Gray-700, #344054);
    color: var(--Gray-700, var(--header_search_text));
    font-size: 18px;
    font-weight: 700;
  }
  .text {
    //color: var(--Gray-700, #344054);
    color: var(--Gray-700, var(--header_search_text));
    font-size: 16px;
    font-weight: 400;
  }
  .chat-box-header {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .chat-box-body {
    overflow-y: auto;
    max-height: 59.9vh;
    .content {
      border-radius: 8px 8px 8px 8px;
      //background: var(--Gray-100, #f2f4f7);
      background: var(--Gray-100, var(--header_background_search_box));
      color: var(--header_search_text);
      padding: 10px 14px;
      margin-left: 0px !important;
      width: 100% !important;
      inline-size: 410px;
      overflow-wrap: break-word;
    }
    .self-content {
      border-radius: 8px 8px 8px 8px;
      //background: var(--blue-va-1, #2f45ad);
      background: var(--blue-va-1, #2f45ad);
      color: #ffffff;
      padding: 10px 14px;
      inline-size: 460px;
      overflow-wrap: break-word;
    }
  }
  .cover {
    background-color: var(--header_background_search_box);
    width: 100%;
    //border: 1px solid var(--Gray-300, #d0d5dd);
    border-radius: 9px;
    padding: 16px;
    .input-chat {
      background-color: var(--header_background_search_box);
      color: var(--header_search_text);
      border-radius: 8px;
    }
  }
  .icon-chat {
    border-top: 1px solid var(--Gray-300, #d0d5dd);
  }
  .icon-item {
    color: var(--header_search_text);
  }
}
