#sidebar-profile {
  background-color: var(--header_background) !important;
  color: var(--header_search_text);
  border-radius: 9px;

  .edit-btn {
    padding: 10px 20px;
    background: var(--button-1, #20becb);
    border: 1px solid var(--button-1, #20becb);
    border-radius: 9px;
    color: #fff;
    font-weight: medium;
  }

  .avatar {
    width: 200px;
    height: 200px;
  }
}

.avatar {
  width: 200px;
  height: 200px;
}

#profile {
  background-color: var(--header_background) !important;
  color: var(--header_search_text);

  .text-white {
    color: white;
  }

  // .bg-text {
  //   background-color: var(--header_background_search_box);
  //   color: var(--header_search_text);
  // }

  .rounded {
    background-color: var(--header_background) !important;
  }

  .profile-feedback {
    border-radius: 9px;
    padding: 16px;

    textarea:focus {
      border: 1px solid #20becb;
      padding: 10px;
      border-radius: 9px;
      outline: none;
      background-color: gainsboro;
    }
  }

  background-color: #fff;
  border-radius: 9px;
  padding: 16px;

  input:focus {
    outline: none;
  }

  textarea {
    width: 100%;
    height: 150px;
  }

  textarea:focus {
    outline: none;
  }

  .nav {
    .profile-text {
      background-color: #2f45ad;
      font-weight: bold;
      color: #fff;
      padding: 8px 12px;
      border-radius: 8px;
    }

    .search {
      border-radius: 6px;
      padding: 10px 14px;
    }
  }

  .information {
    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    &-text {
      margin-top: 20px;

      .person-name {
        font-size: 20px;
        color: #101828;
        line-height: 38px;
        margin-bottom: 4px;
      }

      .account {
        color: #475467;
      }
    }
  }

  .personal-information {

    input,
    textarea {
      padding: 9px;
    }

    .infor-group {
      border-radius: 8px;
      border: 1px solid #d0d5dd;

      .email-icon {
        font-size: 20px;
        opacity: 0.5;
      }
    }
  }

  .degree,
  .post,
  .blog {
    .row {
      margin-bottom: 15px;
      border: solid 0.5px gray;
      cursor: pointer;
      transition: transform 0.3s ease
    }

    .row:hover {
      transform: scale(1.03)
    }

    .image {
      max-height: 150px;
      height: 100%;
      width: auto;
    }

    &-detail {
      padding: 8px 14px;
      background-color: #20becb;
      font-weight: bold;
      color: #fff;
      font-size: 14px;
    }
  }
}

.post,
.blog {
  .image {
    max-height: 300px;
  }

  .row {
    padding: 10px 0px;
  }
}

.edit-btn-infor {
  position: absolute;
  right: 15px;

}

#profile {
  position: relative;
}

.bg-secondary-soft {
  background-color: rgba(208, 212, 217, 0.1) !important;
}

.rounded {
  border-radius: 5px !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.file-upload .square {
  height: 250px;
  width: 250px;
  margin: auto;
  vertical-align: middle;
  border: 1px solid #e5dfe4;
  background-color: #fff;
  border-radius: 5px;
}

.text-secondary {
  --bs-text-opacity: 1;
  color: rgba(208, 212, 217, 0.5) !important;
}

.btn-success-soft {
  color: #28a745;
  background-color: rgba(40, 167, 69, 0.1);
}

.btn-danger-soft {
  color: #dc3545;
  background-color: rgba(220, 53, 69, 0.1);
}


.check-control {
  padding: 0.5rem 1rem;
  background-color: var(--bs-secondary-bg);
  opacity: 1;
}



.img-contain {
  max-height: 100px;

  img {
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.avatar-contain {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
}
.avatar-contain.wh-200{
  width: 200px;
  height: 200px;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tab-content {
  background-color: white;
  border-end-end-radius: 8px;
  border-end-start-radius: 8px;
  padding: 12px;
}