#post {
  width: 100%;
  .post-form {
    background-color: #fff;
    border-radius: 8px;

  }
  .post-item {
    background-color: #fff;
    border-radius: 8px;
    .profile {
      width: 28px;
      height: 28px;
    }
    .view-btn {
      background-color: #20becb;
      border-radius: 8px;
      padding: 8px 14px;
      color: #fff;
    }
  }
  .input-text {
    border: 1px solid #d0d5dd;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #2f45ad;
    border-radius: 8px;
    &:focus {
      outline: none;
    }
  }
  .image {
    background-color: #20becb;
    color: #fff;
  }
}
